{% extends 'partials/base.html' %}
{% block title %}Customer Page{% endblock %}


{% block content %}

<h1 class="text-center text-dark m-4">Consumers Details</h1>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-10 offset-md-1">
            <table class="table bg-white">
                <thead class="text-white" style="background-color: rgb(47,79,79);">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Email</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for worker in workers %}
                    <tr>
                        <td>{{ worker.username }}</td>
                        <td>{{ worker.profile.phone }}</td>
                        <td>{{ worker.email }}</td>
                        <th scope="row"><a class="btn btn-info btn-sm"
                                href="{% url 'staff-detail' worker.id %}">View</a></th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}